<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Your Shopping</h2>

      <ul class="list-group">
        <% @purchases.each_with_index do |purchase, index| %>
          <li class="list-group-item">
            <%= "#{index + 1}. #{purchase.plant.name}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
