<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Your Shopping Bag</h2>

      <% @purchases.each_with_index do |purchase, index| %>
        <div class="card mb-2">
          <div class="card-body">
            <h6 class="card-title"><%= "#{index + 1}. #{purchase.plant.name}" %></h6>
            <p class="card-text">
              <span class="float-left">
                <% if purchase.purchase_date.present? %>
                  Purchased on: <%= purchase.purchase_date.strftime('%Y-%m-%d %H:%M:%S') %>
                <% else %>
                  Purchased on: N/A
                <% end %>
              </span>
            </p>
            <%= cl_image_tag purchase.plant.photo.key, class: "card-img-top" if purchase.plant.photo.attached? %>
          </div>
        </div>
      <% end %>

      <div class='container'>
        <%= link_to "Continue Shopping", plants_path, class: "btn btn-success mb-2 text-center" %>
      </div>
    </div>
  </div>
</div>
