<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-purchase bg-light p-4"> <div class="card-body text-center">
          <h2 class="card-title mb-4">Create a New Purchase</h2>

          <%= simple_form_for([@plant, @purchase]) do |f| %>
            <p class="card-text mb-4"><%= "You are buying " + @plant.name + " for $" + @plant.price.to_s %></p>

            <div class="d-flex justify-content-between">
              <%= f.submit 'Confirm Buy', class: 'btn btn-success btn-lg' %>
              <%= link_to "Cancel Buy", plant_path(@plant), class: "btn btn-danger btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
