
<div class="banner">
    <div class="container">
      <h1>Welcome to Plantopolis</h1>
      <p>Let's find a new green friend</p>
      <a href="#" class="btn btn-success">Watch the List</a>
    </div>
  </div>
  <div class="container-cards">
    <h2>Top sales</h2>
    <div class="cards">
      <div class="card-trip">
        <img>
        <div>
          <div>
            <h2>Suculenta</h2>
            <p>Las plantas suculentas o crasas son aquellas en las que algún órgano está especializado en el almacenamiento de agua en cantidades mayores que las plantas sin esta adaptación. </p>
          </div>
            <h2>$1000</h2>
            <img >
        </div>
      </div>
      <div class="card-trip">
        <img>
        <div>
          <div>
            <h2>Potus</h2>
            <p>El poto, también conocido como potus o pothos, es una planta trepadora ideal para la decoración del hogar.</p>
          </div>
            <h2>$89.99</h2>
            <img>
        </div>
      </div>
      <div class="card-trip">
        <img >
        <div>
          <div>
            <h2>Tulipan</h2>
            <p>Tulipa es un género de plantas perennes y bulbosas perteneciente a la familia Liliaceae, en el que se incluyen los populares tulipanes, nombre común con el que se designa a todas las especies, híbridos y cultivares de este género</p>
          </div>
            <h2>$89.99</h2>
            <img>
        </div>
      </div>
    </div>
  </div>
  <!-- code a footer -->
  <div class="footer">
    <h2>Nuestros metodo de pago</h2>
    <ul class="list-inline">
      <li><i class="fa-brands fa-cc-visa"></i></li>
      <li><i class="fa-brands fa-cc-mastercard"></i></li>
      <li><i class="fa-solid fa-credit-card"></i></li>
      <li><i class="fa-brands fa-bitcoin"></i></li>
      <li><i class="fa-solid fa-money-bill"></i></li>
    </ul>
    <h3>@Todos los derechos reservados</h3>
  </div>
