.banner{
	padding: 150px 0px;
	 background-size: contain;
   height: 400px;
	background-position: center;
  background-image: url("https://img.freepik.com/foto-gratis/composicion-hojas-espacio-medio_23-2147725724.jpg");
}



.banner h2{
  font-size: 18px;
  font-weight: 300;
}
.banner-heading {
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
